<link rel="stylesheet" href="creme-visage.component.css">
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/image38.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">k-reine Crème de jour pour visage hydra-protectrice 50 ml</h1>
                    <h2 class="card-title"> 9,600 TND </h2>
                <h3 class="card-text">
                    <ul>
                    <li>Elle hydrate, nourrit et stimule votre peau chaque 
                        jour pour lui rendre plus résistante, et rayonnante
                   
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">6192427304169


                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
<br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image39.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">OXYGEN-GLOW CC CREAM Crème teintée SPF30 – Perfectrice Éclat - Filorga</h1>
                <h2 class="card-title">101,000 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>OXYGEN-GLOW, La première CC crème hybride qui booste l’oxygénation
                     de la peau, sublime le teint et offre une protection urbaine quotidienne. </li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">3540550011448


                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image40.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Eucerin hyaluron-filler + volume-lift soin de nuit 50ml</h1>
                <h2 class="card-title">107,000 TND </h2>
            <h3 class="card-text">
                <ul>
                <li>est un soin de nuit anti-rides, élaboré pour combler
                    les rides, même profondes et redéfinir les contours 
                    du visage pour un effet liftant.</li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">4005900467331


                    </span>
            </h5>
        </div>
       
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
    </div>
</div>
