<link rel="stylesheet" href="nettoyants.component.css">
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/image59.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">k-reine Lotion tonique rafraîchissante yeux & visage 500ml</h1>
                    <h2 class="card-title">15,500 TND </h2>
                <h3 class="card-text">
                    <ul>
                    <li>La lotion tonique hydrate, rafraîchit et tonifie en douceur
                         les peaux sensibles, laisse la peau nette et améliore la 
                         respiration cellulaire. Élimine les dernières traces de
                          maquillage tout en préservant votre peau de dessèchement 
                          et de tiraillement.</li> 
                   
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">6192427305371


                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
<br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image60.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Eau micellaire anti-pollution 400 ml -casmara</h1>
                <h2 class="card-title">33,900 TND </h2>
            <h3 class="card-text">
                <ul>
                <li>Formule exclusive qui nettoie et protège la peau.
                     Son actif innovant anti-pollution défend le visage 
                     en créant un bouclier qui renforce la barrière protectrice
                      de la peau, tandis que les micelles agissent comme un aimant qui
                       attrape les cellules mortes à la surface de la peau, ainsi que les
                        particules polluantes, le maquillage et l’excès de sébum.
                    </li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8436561410293
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image61.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">k-reine Démaquillant biphase yeux waterproof 250 ml</h1>
                <h2 class="card-title">25,600 TND </h2>
            <h3 class="card-text">
                <ul>
                <li>K-REINE DÉMAQUILLANT WATERPROOF BI-PHASE Pour Les Yeux Au Aloe Vera 
                    ÉLIMINE LE MAQUILLAGE WATERPROOF RÉSISTANT 
                    Prend soin de vos cils Hydrate le contour des yeux 
                     </li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">6192427306248
                    </span>
            </h5>
        </div>
       
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
    </div>
</div>
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/image58.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">Lotion tonique éclaircissante 200ml - Beesline</h1>
                    <h2 class="card-title">27,703 TND  </h2>
                <h3 class="card-text">
                    <ul>
                    <li> Un toner éclaircissant qui unifie le teint et favorise un teint doux 
                        et lumineux. Élimine les taches brunes, dynamise la peau
                         et préserve son hydratation pendant 24 heures.</li> 
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">5281018881675
 



                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
        <br>
        <br>
        <br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image56.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">VR Sebiaclear micro-peel eau rénovatrice 150ml</h1>
                <h2 class="card-title">43,020 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Idéale pour les peaux sensibles à tendance acnéique, cette eau 
                    active hautement concentrée purifie, désincruste les pores 
                    et élimine les imperfections sans dessécher la peau. 
                    </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">366231001590
                    </span>
            </h5>
        </div><br>
        <br><br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image57.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Solution micellaire apaisante pour peaux sensibles 400 ML – Placentor</h1>
                <h2 class="card-title">45,000 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Placentor Végétal Solution Micellaire Apaisante Pour Peaux
                     Sensibles 400 ml est une solution qui élimine en 
                     douceur les impuretés et le maquillage, même waterproof.
                      Sa formule adaptée aux peaux sensibles apaise immédiatement 
                      les sensations d'inconfort : irritations, tiraillements, rougeurs...</li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">3760099700621
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>