<link rel="stylesheet" href="gloss.component.css">
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/gloss1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">Stay matte n°703 - rimmel london</h1>
                    <h2 class="card-title">17,130 TND</h2>
                <h3 class="card-text">
                    <ul>
                    <li>Couleur riche et pigmentée en une seule application. À l'épreuve des baisers, 
                        de l'eau et résiste aux transferts. 
                        Fini mat et velouté. Tenue longue durée jusqu'à 12 heures. </li> 
                   
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">3614226323767


                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
<br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/gloss2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Focus point perfect gleam lipgloss pt207- 113 -topface</h1>
                <h2 class="card-title">18,000 TND  </h2>
            <h3 class="card-text">
                <ul>
                <li>Perfect Gleam Gloss est un brillant à lèvres enrichi de pigments de couleur brillante pour créer des lèvres brillantes. 
                    Son applicateur spécial permet de modeler et d'ajouter de la dimension aux lèvres sans laisser de collant.</li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217234802 
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/gloss3.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Maybelline Superstay Vinyl Ink 105 Golden</h1>
                <h2 class="card-title">65,000 TND </h2>
            <h3 class="card-text">
                <ul>
                <li>Le brillant à lèvres longue tenue offre une couleur semblable à celle du vinyle sans décoloration avec jusqu'à 16 heures d'usure,
                     avec la formule innovante Color Lock qui défie les taches et le transfert.

                </li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">30144941
                    </span>
            </h5>
        </div>
       
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
    </div>
</div>
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/gloss4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">Brillant à lèvres Supernova Volume PT209 011 - Topface</h1>
                    <h2 class="card-title">19,900 TND</h2>
                <h3 class="card-text">
                    <ul>
                    <li>Le brillant à lèvres Topface vous donnera un aspect brillant et plein de lèvres.

                        Il a une texture lisse et vous donne une belle couleur brillante qui est facile à estomper sur les lèvres pour compléter votre maquillage.</li> 
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">8681217251441


                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
        <br>
        <br>
        <br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/gloss5.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Staylong Lipcolor-kissproof Very Cherry N°349 - Pierre Cardin</h1>
                <h2 class="card-title">23,000 TND   </h2>
            <h3 class="card-text">
                <ul>
                <li>Pierre Cardin Staylong Lipcolor-Kissproof La nouvelle marque
                     de Staylong Lipcolor-Kissproof qui présente des propriétés durables et à
                      séchage rapide et n'étire jamais vos lèvres, ne ressemble à rien sur les lèvres grâce à sa texture légère,
                       ne tache en aucune façon, a couvrance intense et ne dessèche pas les lèvres contrairement aux rouges à lèvres 
                       liquides mats permanents grâce 
                    à sa richesse en matière de confort magnifique formulé avec technologie !
                    
                    </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8680570632850
                    </span>
            </h5>
        </div><br>
        <br><br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/gloss6.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Brillant à lèvres Supernova Volume PT209 001 - Topface</h1>
                <h2 class="card-title">19,900 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Le brillant à lèvres Topface vous donnera un aspect brillant et plein de lèvres.

                    Il a une texture lisse et vous donne une belle couleur brillante qui est facile à estomper sur les lèvres pour compléter votre maquillage. </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217250895
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
