

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Dynamique</title>
  <link rel="stylesheet" href="navbar.component.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="#">Parfum</a>
        <ul>
          <li><a href="parfum-eau">Eau de parfum de femme</a></li>
          <li><a href="toillet-parfum">Eau de toilette de femme</a></li>
          <li><a href="toilettehommes">Eau de toilette de homme</a></li>
          <li><a href="eauhomme">Eau de parfum de homme</a></li>

        </ul>
      </li>
      <li><a href="#">Maquillage</a>
        <ul>
          <li><a href="mascar">mascaras</a></li>
          <li><a href="rouge">rouge à lèvre</a></li>
          <li><a href="crayon">crayon</a></li>
          <li><a href="gloss">gloss</a></li>
        </ul>
      </li>
      <li><a href="#">Solaire</a>
        <ul>
          <li><a href="huile-solaire">crème solaire</a></li>
          <li><a href="ecron-solaire">écran solaire teintés</a></li>
          <li><a href="ecran-solaire-visible">écran solaire invisible</a></li>
          <li><a href="spray-solaire">Spray solaire</a></li>
          <li><a href="huile-solaire">huile-solaire</a></li>
        </ul>
      </li>
      <li><a href="#">Visage</a>
        <ul>
          <li><a href="gel-nettoyant">gel nettoyant</a></li>
          <li><a href="creme-visage">crème visage</a></li>
          <li><a href="serum-anti-age-visage">sérum</a></li>
          <li><a href="nettoyants">nettoyants</a></li>
        </ul>
      </li>
      <li><a href="promotion">Promotion</a></li>
      <li><input type="text" placeholder="Recherche..."></li>
   
        <ul >
          <li><input type="text" placeholder="Rechercher..."></li>
        </ul>
      
        <a class="btn btn-primary" href="" role="recherche">Recherche</a>

        <a class="btn btn-primary" href="login" role="button">Inscription</a>
       
      <li class="cart-icon">
        <a href="lien_vers_le_composant_panier.html">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAflJREFUSEvt1kuoTWEUwPHfNSF5lqSYmTAjykB5ZaQwMWFihKlETEQiEslIl5kBUykp8soEA4/E0IBkQPIoI2Gv+ra27Zy7v73Pdc/EqlPn7NZa//U4a609YkgyMiSu/+AJq3y11Idx6B+Sv2ELrgdjIsHB24dTdfAaxCdkPVam72fxaYBKrMLaZL8Cj+rgqu91uJUe7MSFAcBXsRGfMbto58+xwNGCNwVwPu4jou4ik/ERU3EZ20onY83xCexPigvwtgM5WnYz2W3HxRzwYrxMigdxtAP4NPYku7l4nwMOncdYildY2AEcgUcC4WdZ1b5pZe7GmUqpXreAz8SVpB/Viqr9liZwlOcdJrUA9lJdgmdtwKF7rZi9DR3B33GssI2t+Ic0ZRzKW3EpWR3HjRZBRG+/9NLPAU9J/8Zp9VlsEcBfqjngMDpfzPEO/MBePMmExqp92jXjsJuF54hF0kbuVfZ/6x6XBsuL1XcyOcqt1LiAywDmYVFm2gOXusqJaxWlP4evtQBiXjelvsZV6iu5JSsdxDgdSD/uIM5nKXPSap2eHmxGX3hb8O3KUY+7Wt1oq4v+360EEq9RR/ql3BYcZR5NzmLEdtUcPyjeqeItI1oQN7znKIVNW3DYxLWZgYd9sonMX+DDePY488/crNYl42avGRpDA/8CMS1MHyW95hAAAAAASUVORK5CYII="/>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>

