<link rel="stylesheet" href="rouge.component.css">
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/Image8.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">The only one lipstick n°500 - rimmel london</h1>
                    <h2 class="card-title">11,863 TND</h2>
                <h3 class="card-text">
                    <ul>
                    <li>Obtenez l'équilibre parfait entre la couleur pigmentée à haute 
                        intensité, l'hydratation et le confort à porter tout au long
                         de la journée et une durabilité incroyable en un seul produit! .</li> 
                   
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">3614221187388
                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
<br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/Image10.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Instyle creamy lipstick n°14 tawny brown pt156-topface</h1>
                <h2 class="card-title">16,900 TND </h2>
            <h3 class="card-text">
                <ul>
                <li>Il donne à vos lèvres un aspect naturel et brillant sans 
                    s'installer dans les ridules et laisser une sensation collante.</li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217236431
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/Image11.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Focus point matte lippaint pt154-011- topface </h1>
                <h2 class="card-title">14,800 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Sa texture veloutée offre un fini semi-mat,
                     tandis que la fonction hydratante de l'huile 
                     de macadamia et de la vitamine E dans sa formule
                      laisse une sensation douce sur vos lèvres.</li> 
                
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217232181
                    </span>
            </h5>
        </div>
       
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
    </div>
</div>
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/Image7.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">The only one lipstick n°610 - rimmel london </h1>
                    <h2 class="card-title">11,863 TND  </h2>
                <h3 class="card-text">
                    <ul>
                    <li>Obtenez l'équilibre parfait entre la couleur
                         pigmentée à haute intensité, l'hydratation et le 
                         confort à porter tout au long de la journée et une 
                         durabilité incroyable en un seul produit!</li> 
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">3614221187418
                        </span>
                </h5>
            </div><br><br><br>
            <br><br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/Image9.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Instyle creamy lipstick n°01 cashmere pt156-topface </h1>
                <h2 class="card-title">16,900 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Il offre un fini satiné et soyeux grâce à l'huile 
                    de Moringa, qui hydrate les lèvres et aide à leur 
                    apporter de la douceur.
                    </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217236318

                    </span>
            </h5>
        </div><br>
        <br><br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/Image12.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Focus point matte lippaint pt154-004- topface</h1>
                <h2 class="card-title">14,800 TND</h2>
            <h3 class="card-text">
                <ul>
                <li>Sa texture veloutée offre un fini semi-mat, tandis 
                    que la fonction hydratante de l'huile de macadamia et
                     de la vitamine E dans sa formule laisse une sensation 
                     douce sur vos lèvres.</li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">8681217232112
                    </span>
            </h5>
        </div><br><br><br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
    </div>
</div>


