
<link rel="stylesheet" href="promotion.component.css">

<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="carte"><div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/image41.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">Merveillance Lift La Crème Poudrée Effet Liftant 50ml - PNM - Nuxe	</h1>
                    <h2 class="card-title">130,228 TND</h2>
                    <h4 class="card-title">110 TDN</h4>
                <h3 class="card-text">
                    <ul>
                    <li>Soin raffermissant de jour.
                        Anti-âge, anti-rides.
                        Peaux normales à mixtes.
                        Visage, cou et décolleté.
                        Convient aux végans.
                        </li> 
                </ul></h3>
                <div class="rating">
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <input type="radio" id="star-1" name="star-radio" value="star-1">
                    <label for="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                    <!-- Repeat the same structure for other stars -->
                </div>
                <h5 class="card-text">Référence:
                    <span class="card-title">3264680026089
 



                        </span>
                </h5>
            </div><br>
            <br>
            <br>
            <br>
            <br>
        <br>
        <br>
        <br>
            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
            <p>En Stock</p>
        </div></div>
  </div>
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image48.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Crème Prodigieuse Boost Baume-Huile Réparateur Nuit 50 ml - Nuxe</h1>
                <h2 class="card-title">109,679 TND </h2>
                <h4 class="card-title">90 TDN</h4>
            <h3 class="card-text">
                <ul>
                <li>Le baume-huile récupérateur nuit Nuxe Boost, peau relaxée,
                     traits décrispés. Découvrez la gamme Nuxe sur notre parapharmacie en ligne
                    </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">3264680015854




                    </span>
            </h5>
        </div><br>
        <br><br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
</div>
 
  <div class="carte"><div class="row g-0">
    <div class="col-md-4">
        <img src="/assets/image49.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Ncef-night mask masque nuit multi-correcteur suprême 50ml -filorga</h1>
                <h2 class="card-title">175,000 TND </h2>
                <h4 class="card-title">150 TDN</h4>
            <h3 class="card-text">
                <ul>
                <li>Filorga le Masque de Nuit Multi-correcteur Suprême à pénétration 
                    rapide qui s’utilise comme une crème de nuit – Effet radical 
                    SPÉCIAL NUITS COURTES - PEAUX FATIGUÉES, STRESSÉES
                    </li> 
            </ul></h3>
            <div class="rating">
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <input type="radio" id="star-1" name="star-radio" value="star-1">
                <label for="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path pathLength="360"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                    </svg>
                </label>
                <!-- Repeat the same structure for other stars -->
            </div>
            <h5 class="card-text">Référence:
                <span class="card-title">3540550008523
                    </span>
            </h5>
        </div><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">acheter maintenant</a>
        <p>En Stock</p>
    </div></div>
