<link rel="stylesheet" href="contenu.component.css">
<div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="card" style="width: 18rem;">
            <img src="/assets/image48.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Crème Prodigieuse Boost Baume-Huile Réparateur Nuit 50 ml - Nuxe</h5>
              <p class="card-text">109,679 TND</p>
              <h6 >en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/image47.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">It girl - Mousse nettoyante apaisante 100 ml</h5>
              <p class="card-text">13,900 TND </p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/image32.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Huile bronzante néroli 150ml - Alania </h5>
              <p class="card-text">33,000 TND</p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
          </div>
      </div>
    </div>
  </div>
  <div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="card" style="width: 18rem;">
            <img src="/assets/image28.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ecran Crème Minérale SPF50+ 50ml - Avène   </h5>
              <p class="card-text">40,120 TND  </p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/Image21.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Burberry My Burberry Eau De Parfum 50ml</h5>
              <p class="card-text">90 DT</p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/Image13.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lady D Eau de Parfum pour Femme 100 ML - Diane Castel</h5>
              <p class="card-text">49,000 TND </p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
          </div>
      </div>
    </div>
  </div>
  <div class="cartes-container">
    <div class="ligne ligne-1">
      <div class="card" style="width: 18rem;">
            <img src="/assets/Image9.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Instyle creamy lipstick n°01 cashmere pt156-topface </h5>
              <p class="card-text">16,900 TND</p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/Image5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lollis mascara real look 7ml</h5>
              <p class="card-text">14,500 TND</p>
              <h6>en stock</h6>
              <a href="#" class="btn btn-primary">acheter maintenant</a>
            </div>
          </div>
        
    </div>
  </div>
  
  