<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        /* Ajout d'un espace entre la barre de navigation et le carrousel */
        .app-navbar {
            margin-bottom: 20px; /* Ajustez la marge selon vos besoins */
      /* Exemple de couleur de fond */
            padding: 10px; /* Ajoute un espace intérieur pour plus de clarté */
        }

        .app-carou {
            /* Exemple de couleur de fond */
            padding: 20px; /* Ajoute un espace intérieur pour plus de clarté */
        }
    </style>
</head>
<body>
    <header>
  
        <div class="app-navbar">
            <app-navbar></app-navbar>
        </div>

        <!-- Carrousel -->
        <div class="app-carou">
          <app-carou></app-carou>
        </div>
    </header>
</body>
</html>
